body{
    background-color:#EEEEEE;
}
.todolist{
    background-color:#FFF;
    padding:20px 20px 10px 20px;
    margin-top:30px;
}
.todolist h3{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
    overflow:hidden
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}
#checkAll{
    margin-top:10px;
}

.btn-add-to-do{
    width: 100%;
    border: 1px solid #eee;
    background-color: #673AB7;
    height: 32px;
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
}

.btn-add-to-do:focus {
    outline: none;
}

.navbar-inverse {
    background-color: #673AB7;
    border-color: #673AB7;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #311B92;
}

.todo-title {
    padding-top: 25px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.calendar-graph-svg {
    padding-top: 25px;
}